// Bootstrap core CSS
link(href='https://cdn.uadigital.arizona.edu/lib/ua-brand-icons/latest/ua-brand-icons.css', rel='stylesheet')
link(href='css/ua-bootstrap.css', rel='stylesheet')
link(href='css/docs.css', rel='stylesheet')

// HighlightJS
link(rel='stylesheet', href='css/googlecode.css')
script(src='js/highlight.pack.min.js')

link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
link(rel='icon', href='img/favicon.png', type='image/x-icon')
